.navbar {
  background-color: #b7b7b7; // Replace with your custom color (e.g., Indigo)
  color: #ffffff; // Text color, adjust as needed

  .navbar-brand {
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000000; // Custom color for Navbar Brand text
  }

  .aboutme-link {
    font-family: 'Poppins', sans-serif; // Use 'Poppins' from the imported Google Font
    font-weight: 500; // Adjust weight (e.g., 500 as imported for bold style)
    font-size: 1.2rem; // Optional: adjust size if you want the text to be larger or smaller
    font-style: italic; // Optional: set to 'normal' or 'italic' as needed
  }

  .nav-link {
    color: #000000; // Custom color for Nav links (e.g., About Me link)

    &:hover {
      color: #987b07; // Change color when hovering over links
    }
  }
}
