// .home {
//   background-color: #8b8bb8; // Light gray background color
//   // #F5F5F7 The original gray bg color
//   padding: 2rem; // Add some padding for content spacing
//   min-height: 90.56vh;
// }

#h1 {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #000000; // Custom color for Navbar Brand text
}
