/* Fullscreen modal content */
.modal-body img,
.modal-body video {
  width: 100%;
  height: auto;
}

/* Blurry effect for the backdrop of the modal */
.modal-backdrop {
  backdrop-filter: blur(40px); /* Adjust the blur strength */
}
